
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hard Coder</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header class="navbar navbar-static-top navbar-inverse" id="top" role="banner">
    <div class="container">
        <div class="">
            <a href="/" class="navbar-brand">HardCoder</a>
        </div>
        <nav class="collapse navbar-collapse " role="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    {{if .username }}
                    <div style="color:white">
                        Welcome {{ .username }}
                        <a href="/admin/addblog">Add blog</a>
                        <a href="/admin/logout">Logout</a>
                    </div>
                    {{else}}
                    <div> Welcome </div>
                    {{end}}
                    <form action="/search" method="get" style="margin-top:10px">
                        <input name="q"><input type="submit" value="Search" class="btn btn-primary" style="margin:0px 10px">
                    </form>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form action="/search" method="get" style="margin-top:10px">
                        <input name="q"><input type="submit" value="Search" class="btn btn-primary" style="margin:0px 10px">
                    </form>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div class="container">
    <div class="content">
        <h2>About me</h2>
        <p>Write codes, since 2002.</p>
        <p>Linux/FreeBSD lover，Open source lover.Now write PHP,Go lang, C/CPP. Know a bit about Erlang, JAVA, Scala,Haskell,Ocaml,Python,Ruby,Lua Interest at Rust Lang.</p>
        <h2>Contact</h2>
        <p>netroby#netroby[dot]com</p>
        <p><a href="https://telegram.me/netroby">@telegram</a></p>
        <div class="clearfix h10"></div>
        <div class="clearfix txtcenter">
            <iframe src="//rcm-cn.amazon-adsystem.com/e/cm?t=netroby-23&o=28&p=48&l=ez&f=ifr&f=ifr" width="728" height="90" scrolling="no" marginwidth="0" marginheight="0" border="0" frameborder="0" style="border:none;"></iframe>
        </div>
        <div class="clearfix h10"></div>
        <div class="txtcenter">Hosting: <a href="http://secure.quickweb.co.nz/system/aff.php?aff=021">QuickWeb</a>, <a href="http://runabove.me/WYPG">Runabove</a>, Follow me: <a href="http://weibo.com/netroby">@weibo</a> <a href="http://twitter.com/netroby">@twitter</a> <a href="https://github.com/netroby">@github</a>
            <a href="https://telegram.me/netroby">@telegram</a>
        </div>
        <div class="txtcenter">Scan QR code and Donate me via alipay:<br/><img src="/images/alipayme.jpg" style="width:72px;height:72px" alt="donate me via alipay"></div>
    </div>
</div>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?3b5a00d077d072c0bfcf5b9691be39af";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>
</html>
